:root {
  --background-color: #242424;
  --secondary-background-color: #1a1a1a;
  --font-white: rgba(255, 255, 255, 0.9);
  --primary-color: #646cff;

  --border-radius1: 8px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-white);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----- BODY STYLES ----- */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Celias-Light', sans-serif;
}
p {
  margin: 0.5rem;
}
h3 {
  margin: 0.5rem;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* ----- FONTS ----- */
@font-face {
  font-family: 'Celias-Light';
  src: local('Celias'), url('../public/fonts/Celias.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Celias-Bold';
  src: local('Celias-Bold'), url('../public/fonts/Celias-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.survey-bold {
  font-family: 'Celias-Bold'
}


/* ----- LINKS ----- */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


/* ----- HEADERS ----- */
h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
  margin: 1rem;
}


/* ----- BUTTONS ----- */
button {
  border-radius: var(--border-radius1);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: flex;
  align-items: center;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.submit-button,
.back-button {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-color);
  color: var(--font-white);
  padding: 0.6em 1.0em;
  font-size: 1em;
}
.back-button {
  position: absolute;
  top: 4rem;
  left: 12%;
  z-index: 1000;
}
.back-button svg {
  width: 1em;
  height: 1em;
}
.submit-button:hover,
.back-button:hover {
  background-color: var(--primary-color);
}
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .back-button span {
    display: none;
  }
}



/* ----- BASE SCREEN ----- */
.app-header,
.app-footer {
  width: 100%;
  background: linear-gradient(to right, var(--background-color) 20%, var(--secondary-background-color) 50%, var(--background-color) 80%);
}
.app-body {
  width: 80%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.survey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}
.survey-card {
  background: var(--secondary-background-color);
  color: var(--font-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius1);
  padding: 1.5rem;
  transition: transform 0.3s, background-color 0.3s, filter 300ms;
  cursor: pointer;
  will-change: filter;
}
.survey-card:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.survey-content {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.survey-description p {
  margin: 0.5rem;
}
.survey-body {
  width: 100%;
  max-width: 700px;
  padding: 1rem 1rem 1rem 1rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .survey-grid .survey-card:nth-of-type(1) {
    animation: logo-spin infinite 20s linear;
  }
}



/* -----  NASA-TLX SURVEY ----- */
.nasa-rtlx {
  margin: 2rem;
}
.tlx-scale {
  margin-bottom: 1.5rem;
}
.tlx-scale label {
  font-size: 1.2rem;
}
.tlx-scale p {
  margin: 0;
  font-size: 0.8rem;
}
.scale-rating {
  display: flex;
  justify-content: space-between;
}



/* ----- COMPONENT STYLE ----- */
.custom-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}